

#feature_container

  .feature#authentication
    %h2 אימות
    %p
      כולל רישום, כניסה, איפוס סיסמא ויכולת נעילת חשבון תודות ל-&nbsp;
      %a{:href => 'http://github.com/plataformatec/devise'}> Devise
      \.

  .feature#user_management
    %h2 ניהול משתמשים
    %p
      משתמשים ניהוליים (Admin) יכולים להשתמש ביכולות הניהול המובנות כדי להוסיף, לערוך ולמחוק משתמשים.

  .clear

  .feature#authorization
    %h2 הרשאות
    %p
      מערכת הרשאות פשוטה וניתן להתאמה המבוססת על&nbsp;
      %a{:href => 'http://github.com/ryanb/cancan'}> CanCan
      \.

  .feature#future_proof
    %h2 צופה אל העתיד
    %p
      עשינו כמיטב יכולתנו להשתמש בנהלים המומלצים של ריילס 3 ו- HTML5.

#intro_container

  .box
    %h1 RoR Template
    %p.slogan
      כל מה שצריך, בלי כל מה שלא צריך
    %p
      הדגמה זו תוכננה לתת לך בסיס יציב ומקיף עליו ניתן לבסס את הפרויקט הבא שלך בריילס, והיא כוללת כל מה שצריך כדי לצלול פנימה ולהתחיל.
    %p
      %em RoR Template
      בנוי על HTML5 וריילס 3, והוא מוכן לפעולה.

.clear

%hr

#download_container
  %a{:href => 'https://github.com/pleasantlight/ror-template', :id => 'download_button'}> הורידו עכשיו!

.clear

%hr

#help_container
  %h2 רוצה לעזור?

  %p
    נשמח מאוד לשמוע הצעות וביקורת. אנחנו מחפשים גם מתנדבים לתרגום ההדגמה הזו לשפות נוספות, אז אנא
    %a{:href => 'http://recursive-design.com/contact/'} צרו קשר
    אם תרצו לעזור.

#about_us_container
  %h2 קצת עלינו

  %p
    אנחנו
    %a{:href => 'http://recursive-design.com/'} Recursive
    ואנחנו ממש בקטע של בניית תוכנה. אם אתם רוצים לדעת עוד, תרגישו חופשי לעקוב אחרינו בעזרת
    %a{:href => 'http://recursive-design.com/feed/'} RSS
    או
    %a{:href => 'http://twitter.com/recurser/'} טוויטר.
      
#other_features_container
  %h2 יכולות נוספות

  .column.first
    %ul
      %li
        תבניות
        %a{:href => 'http://haml-lang.com/'} HAML
      %li
        תמיכה ב-
        %a{:href => 'http://jashkenas.github.com/coffee-script/'} CoffeeScript
      %li
        בדיקת קוד מקור של
        %a{:href => 'http://metric-fu.rubyforge.org/'} metric_fu
      %li
        מערכת בדיקות מלאה בעזרת
        %a{:href => 'http://rspec.info/'} RSpec
      %li טופס יצירת קשר לדוגמה
  .column.last
    %ul
      %li
        אריזת נכסים באמצעות
        %a{:href => 'http://documentcloud.github.com/jammit/'} Jammit
      %li
        טפסים בעזרת
        %a{:href => 'http://github.com/justinfrench/formtastic'} Formtastic
      %li
        תמיכה ב- 
        %a{:href => 'http://960.gs/'} 960GS Grid System
      %li תמיכה בריבוי שפות
      %li
        תמיכה ב-
        %a{:href => 'http://heroku.com/'}> Heroku

.clear
