/* line 4, ../../../app/stylesheets/common/footer.sass */
footer {
  background-color: white;
  height: auto;
  color: #222222;
  margin-top: 20px;
}
/* line 10, ../../../app/stylesheets/common/footer.sass */
footer li {
  float: left;
  margin: 0.5em;
  width: 100%;
  list-style: none;
  text-align: center;
}
/* line 17, ../../../app/stylesheets/common/footer.sass */
footer ul {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
