/* line 1, ../../../app/stylesheets/common/locale_selector.scss */
a.customicons {
  height: 42px;
}

/* line 2, ../../../app/stylesheets/common/locale_selector.scss */
.customicons li a, body a.customicons span.ui-selectmenu-status {
  line-height: 32px;
  padding-left: 50px !important;
}

/* line 3, ../../../app/stylesheets/common/locale_selector.scss */
.english-us .ui-selectmenu-item-icon {
  background: url(/images/embed/flags/english-us.32.png) 0 0 no-repeat !important;
}

/* line 4, ../../../app/stylesheets/common/locale_selector.scss */
.french-france .ui-selectmenu-item-icon {
  background: url(/images/embed/flags/french-france.32.png) 0 0 no-repeat !important;
}

/* line 5, ../../../app/stylesheets/common/locale_selector.scss */
.hebrew-israel .ui-selectmenu-item-icon {
  background: url(/images/embed/flags/hebrew-israel.32.png) 0 0 no-repeat !important;
}
