a.customicons { height: 42px;}
.customicons li a, body a.customicons span.ui-selectmenu-status { line-height: 32px; padding-left: 50px !important; }
.english-us .ui-selectmenu-item-icon { background: url(/images/flags/embed/english-us.32.png) 0 0 no-repeat; }
.french-france .ui-selectmenu-item-icon { background: url(/images/flags/embed/french-france.32.png) 0 0 no-repeat; }
.hebrew-israel .ui-selectmenu-item-icon { background: url(/images/flags/embed/hebrew-israel.32.png) 0 0 no-repeat; }
